**/application.yml
**/application.properties
**/application-*.yml
**/application-*.properties

.idea_modules/
.idea/**
target/**
!**/src/main/**
!**/src/test/**

.idea/
*.iws
*.iml
*.ipr

coverage/
test-output/
*.coverage
*.dat

**/.docker/
**/.dockerignore
docker-compose.override.yml
*.bak
*.tmp

docker-data/
*.env
.env.local
.env.*.local

node_modules/
dist/
npm-debug.log
yarn-error.log

.DS_Store
.AppleDouble
.LSOverride

target/
out/
build/
